

      
      <div class="searchInputContainer">
        <input type="text" id="text" [(ngModel)]="name" name="text" required placeholder="Suche nach Spielern">
      </div>
      <div>
        <button [routerLink]="['/search', name]" type="button" class="btn">Suche</button>
      </div>