
<br>
<mat-grid-list cols="8" rowHeight="2:0.4" >
<mat-grid-tile colspan='3'class="headwhite"> 
<h2 class="western">Western Conference </h2>
</mat-grid-tile>
<mat-grid-tile colspan='3' class="headwhite"> 
  <h2 class="eastern">Eastern Conference </h2>
</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="8" rowHeight="2:2.7">
     
    <mat-grid-tile>    
        <ul class="clubs"><br><h3>Northwest Division</h3>
        <li *ngFor="let club of northwestClubs"
          [class.selected]="club === selectedClub"
          (click)="onSelect(club)" [style.background-image]="'url(' + club.smallLogoUrl + ')'">
          {{club.clubname}} 
        </li>
      </ul>
      </mat-grid-tile>
    
        <mat-grid-tile>    
          <ul class="clubs"><br><h3>Pacific Division</h3>
          <li *ngFor="let club of pacificClubs"
            [class.selected]="club === selectedClub"
            (click)="onSelect(club)" [style.background-image]="'url(' + club.smallLogoUrl + ')'">
          {{club.clubname}} 
        </li>
        </ul>
        </mat-grid-tile>
    
        <mat-grid-tile>    
            <ul class="clubs"><br> <h3>Southwest Division</h3>
            <li *ngFor="let club of southwestClubs"
              [class.selected]="club === selectedClub"
              (click)="onSelect(club)" [style.background-image]="'url(' + club.smallLogoUrl + ')'">
              {{club.clubname}} 
            </li>
          </ul>
          </mat-grid-tile>

  <mat-grid-tile> 
    <ul class="clubs"><br><h3>Atlantic Division</h3>  
    <li *ngFor="let club of  atlanticClubs" 
      [class.selected]="club === selectedClub"
      (click)="onSelect(club)" [style.background-image]="'url(' + club.smallLogoUrl + ')'">
      {{club.clubname}} 
    </li>
  </ul>
  </mat-grid-tile>

    <mat-grid-tile>    
      <ul class="clubs">
          <br><h3>Central Division</h3>  
      <li *ngFor="let club of centralClubs"
        [class.selected]="club === selectedClub"
        (click)="onSelect(club)" [style.background-image]="'url(' + club.smallLogoUrl + ')'">
        {{club.clubname}}               
      </li>
    </ul>
    </mat-grid-tile>


    <mat-grid-tile>    
        <ul class="clubs"><br>
          <h3>Southeast Division</h3>  
        <li *ngFor="let club of southeastClubs"
          [class.selected]="club === selectedClub"
          (click)="onSelect(club)" [style.background-image]="'url(' + club.smallLogoUrl + ')'">
          {{club.clubname}} 
        </li>
      </ul>
      </mat-grid-tile>
   
  </mat-grid-list>

  <br>
<mat-grid-list cols="8" rowHeight="2:4" >
  <mat-grid-tile colspan='3'class="selectedClub" fxLayout.gt-xs="row" fxLayout.xs="column"> 
<app-club-detail [club]="selectedClub"></app-club-detail>
</mat-grid-tile>
<mat-grid-tile colspan='3'>
<div class="clubPlayerList">
  <ul class="players">
  <li *ngFor="let player of clubPlayerList">
    {{player.jerseyNumber}} {{player.firstName}} {{player.surName}}
  </li>
</ul>
</div>  
</mat-grid-tile>

</mat-grid-list>