/* HeroesComponent's private CSS styles */
.selected {
    background-color:  #0273d4!important;
    color: white;
  }
  .clubs {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    margin-top: 1em;
    
  }
  .clubs li {
    cursor: pointer;
    position: relative;
    background-color: #0273d4;
    background-position-x: .4em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: .5em;
    padding-top: .7em;
    padding-right: .8em;
    height: 2em;
    border-radius: 4px;
    text-align: right;
    font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal;  margin-left: 1em; margin-bottom: 1em; margin-right: 1em;
  }
  .clubs li.selected:hover {
    background-color: #469fec !important;
    color: white;
  }
  .clubs li:hover {
    color: black;
    background-color: #0273d4;
    left: .2em;
  }
  .clubs .text {
    position: absolute;
    top: -5px;
    
  }
  .clubs .badge {
    display: inline-block;
    
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    text-align: center;
  }


  mat-grid-tile {
    background: 		#E6E6FA;
    grid-gap: 10px;
    margin-left: 7em;
    
    
  }

  .headwhite {
    background: white;
  }

  h2{
    display: inline;
    align-items: center;
    grid-column-gap: 10px;
    font-family: Georgia, serif;
    line-height: 0.5em;
    margin: 0.3em 0.3em 1em 0.3em;
    color: rgb(100, 93, 93);
    text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 2px 2px, rgba(0, 0, 0, 0.3) -1px -2px;
  }

  h3{
    text-align: center;
    font-family: Georgia, serif;
    line-height: 0.4em;
    margin: 0.3em 0.3em 1em;
    color:  rgb(100, 93, 93);
    text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 2px 2px, rgba(0, 0, 0, 0.3) -1px -2px;
  }

  
  




