<div class="container">
<form action="action_page.php"#loginForm="ngForm" (ngSubmit)="login()" role="form" >
	<div class="imgcontainer">
	  <img src="assets/login.jpg" alt="Avatar" class="avatar">
	</div>
  
	<div class="container" style="background-color: rgba(192, 173, 155, 0.158)">
	  <label for="uname"><b>Username</b></label>
	  <input type="text" name="username" [(ngModel)]="username" class="form-control" id="username" placeholder="Enter Username" #name="ngModel" required required>
  
	  <label for="psw"><b>Password</b></label>
	  <input type="password" [(ngModel)]="password" class="form-control" id="password" #name="ngModel" placeholder="Enter Password" name="password" required>
  
	  <button type="submit" routerLink='/index' (click)="login()">Login</button>

	</div>
	<div class="container" style="background-color: rgba(192, 173, 155, 0.158)" style="text-align:center">
	  <button type="button" routerLink='/start' class="cancelbtn">Cancel</button>
	</div>
	</form>
</div>

