@charset "utf-8";
@import 'sidebar/utils/variables.scss';
@import 'sidebar/utils/core';

.loading {
    padding: 100em;
  }
  
  
  
  .demo-header {
    align-items: center;
    background: $brand;
    box-shadow: 0 0.1em 1.5em rgba($dark-grey, 0.5);
    color: $white;
    display: flex;
    padding: 1em;
  }
  
    .demo-header__toggle {
      background: transparent;
      border: 0.15rem solid $white;
      border-left: 0;
      border-right: 0;
      cursor: pointer;
      font-size: 0;
      height: 1.5rem;
      margin-right: 1rem;
      position: relative;
      width: 2rem;
  
      &::after {
        background: $white;
        content: '';
        height: 0.15rem;
        left: 0;
        margin-top: -0.075rem;
        position: absolute;
        top: 50%;
        width: 100%;
      }
    }
  
  .demo-sidebar {
    background-color: black;
    padding: 2em 10em;
  
    &.ng-sidebar--opened.ng-sidebar--over {
      box-shadow: 0 10 2.5em rgba(85, 85, 85, 0.5);
    }
  }
  
  .demo-contents {
    padding: 0 2em;
  }
  
  .demo-control {
    background-color: $light-grey;
    border: 1px solid $dark-grey;
    cursor: pointer;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em 2em;
    transition: background-color 0.15s;
  
    &:hover {
      background-color: $dark-grey;
      color: $white;
    }
  }
  
  .sidebar {
    background-color: #0273d4;
    width: 50px;
  }
  
  .myButton {
    cursor: pointer;
    color: white;
    background-color: #0273d4;
    padding:10px;
    border-radius: 4px;
    font-family: Georgia, serif; 
    font-weight: normal; 
    font-size: 16px;
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

    .myButton:hover{
      background-color: #469fec !important;
      left: .2em;
    }



