<ng-sidebar-container  *ngIf="showMenu">
      <ng-sidebar class="sidebar"
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dock]="_dock"
        [dockedSize]="'50px'"
        [animate]="_animate"
        [sidebarClass]="'demo-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()"
        (onTransitionEnd)="_onTransitionEnd()">
        <br>
        <button class="myButton" routerLink="playersearch">Spieler Suche</button>
        <br>
        <button class="myButton" (click)="_toggleOpened()">Close Sidebar</button>
        <br>
        <button class="myButton"  (click)=" logout()">Log Out</button>
      </ng-sidebar>
      <div ng-sidebar-content>
        <header class="demo-header">
          <button (click)="_toggleOpened()" class="demo-header__toggle">Toggle sidebar</button>
          <span>Basketball Manager</span>
        </header>
         <router-outlet ></router-outlet>
      </div>
    </ng-sidebar-container>

 <router-outlet *ngIf="routerOutlet"></router-outlet>
