.clubselection {
    background-repeat: no-repeat;
    background-size: 100%;
    position: right;
    padding-left: 5em;
    margin-right: 30em;
    padding-top: 5em;
    background-position-x: .4em;

    width: 100%;
    height: 100%;
        
    
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
    line-height: 1.1;
       
    color: black;
    text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 2px 2px, rgba(0, 0, 0, 0.3) -1px -2px;
      
    }
    mat-card img{
        object-fit: contain;/*this makes de image in src fit to the size of specified below*/
        height: 10em;
      }

h2 {
    text-align: center;
    font-family: Georgia, serif;
    display: inline;
    align-items: center;
    grid-column-gap: 10px;
}

h3 {
    display: inline;
    align-items: center;
    grid-column-gap: 10px;
}

mat-card-actions {
    display:block;
  
}
    
.example-header-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .myButton {
    cursor: pointer;
    color: white;
    background-color: #0273d4;
    padding:10px;
    border-radius: 4px;
    font-family: Georgia, serif; 
    font-weight: normal; 
    font-size: 16px;
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

    .myButton:hover{
      background-color: #469fec !important;
      left: .2em;
    }   