
  <div *ngIf="club"> 
<mat-card class="clubselection">
    <mat-card-header >
      <div mat-card-avatar class="example-header-image" [style.background-image]="'url(' + club.smallLogoUrl + ')'"></div>
      <mat-card-title >{{club.clubname | uppercase}}</mat-card-title>
      <mat-card-subtitle>City: {{club.city}} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{club.bigLogoUrl}}">
    <mat-card-content>
   
      
      <div>
  <div h3>Club: {{club.clubname}}</div>
  <br>
  <div>Stadion: {{club.stadion}}</div>
  <br>
  <div>Owner: {{club.owner}}</div>
  </div> 
    </mat-card-content>
    <mat-card-actions>
      <button class="myButton" style="text-align: center" (click)="clubChoice(club)">Club auswählen</button>
    </mat-card-actions>
  </mat-card>
  </div>
