

<div class="container">
<h5 _ngcontent-c1="" class="jumbotron-heading titel">Ergebnisse: </h5>
<div class="col-md-4 boxabstand" *ngFor="let player of players">
<div class="card mb-4 box-shadow">
<div class="card-body">
  <h5 class="card-title">{{player.firstname}}, {{Player.surName}}</h5>
<p class="card-text">{{player.brithday}}</p>
</div>
</div>

