<body body class="startseite">
  <div body class="startseite"  style="text-align:center"><img src="/assets/logo.png"></div>

  
  <iframe width="600" height="400" src="https://www.youtube.com/embed/QlUyMIj82fA?autoplay=1" frameborder="0" allow="autoplay; encrypted-media"></iframe>
 
  <br>
  <br>
  <br>
  <p style="text-align:center">
  <button class="login" type="submit" routerLink='/login'>Login</button>      <button class="register" type="submit" routerLink='/register'>Register</button>
    </p>
  </body>

  