.startseite {
    background:url("/assets/bbbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;

 }


iframe {
    margin-top: 3%;
    margin-left: 10%;
    border-width: 3px;
    border-color: gray;
    }

.login {
        background-color: blue;
        color: white;
        padding: 20px 28px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
        text-align: center;   
}
.register{
background-color: green;
color: white;
padding: 20px 28px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 10%;
text-align: center;   
}

button:hover {
    opacity: 0.8;
}
html, body, app-startseite {
    height: 100%;
    margin: 0;
    }   