<ng-sidebar-container 
        (onBackdropClicked)="_onBackdropClicked()">
      <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dock]="_dock"
        [dockedSize]="'50px'"
        [animate]="_animate"
        [sidebarClass]="'demo-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()"
        (onTransitionEnd)="_onTransitionEnd()">
        <p></p>
        <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>
        <button class="demo-control" (click)=" logout()">Log Out</button>
      </ng-sidebar>
      <div ng-sidebar-content>
        <header class="demo-header">
          <button (click)="_toggleOpened()" class="demo-header__toggle">Toggle sidebar</button>
          <span>Basketball Manager</span>
        </header>
  <section class="demo-contents">
      <h1>Willkommen, </h1>
      <div>
        <button class="demo-control" (click)="_toggleOpened()">opened ({{_opened}})</button>
        <button class="demo-control" (click)="_toggleMode()">mode ({{_MODES[_modeNum]}})</button>
        <button class="demo-control" (click)="_togglePosition()">position ({{_POSITIONS[_positionNum]}})</button>
      </div> 
    </section>
  
       
      </div>
    </ng-sidebar-container>
