* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }



  body {
    background: $light-grey;
    color: $dark-grey;
    font: 400 1em/1.25 $fonts; 
  }
  
  ::selection {
    background-color: $brand;
    color: $white;
  }
  
  a {
    color: $brand;
    text-decoration: none;
  
    &:hover {
      border-bottom: 1px dotted $brand;
    }
  }
  
  p {
    margin-bottom: 5em;
  }
  
  h1,
  h2 {
    font-weight: 300;
  }
  
  h1 {
    border-bottom: 1px dotted $brand;
    display: block;
    margin: 2rem 0 1rem;
    padding-bottom: 0.5rem;
  }
  
  h2 {
    margin: 0.5rem 0;
  }